# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Database files (ignore local DB, keep migrations/schema)
*.db

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db
